<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网站义卖系统 - @ViewBag.Title </title>
    <!--网站图标设定-->
    <link rel="shortcut icon" href="~/Content/icon/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  
    <div style="width:100%;height:200px; background-color:cyan">
        aaa
    </div>





        @*<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("主页", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>*@
        @*<div class="container body-content">*@
            @RenderBody()
            @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year 中国义卖行业协会在线网络义卖平台</p>
            </footer>
        </div>*@




        @*<li>@Html.ActionLink("联系方式", "Contact", "Contact")</li>*@
        <!--jquery.JS导入-->
        @Scripts.Render("~/bundles/jquery")
        <!--bootstrap.JS导入-->
        @Scripts.Render("~/bundles/bootstrap")
        <!--iview.JS导入-->
        @Scripts.Render("~/bundles/iview")
        @RenderSection("scripts", required: false)
</body>
</html>
