<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CharitySale</title> <!--慈善义卖网站-->
    <link rel="Shortcut Icon" href="~/favicon.ico" />
    <!--导入bootstarp.css样式-->
    <link href="~/Content/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <!--导入自定义全局的css样式-->
    <link href="~/Content/css/Foreground/_Layout/Layout.css" rel="stylesheet" />
    <link href="~/Content/css/Foreground/_Layout/main.min.css" rel="stylesheet" />
    <!--导入JQ文件-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!--导入自定义的js文件-->
    <script src="~/Content/js/Foreground/LayoutJS.js" defer></script>

</head>
<body>
    <!--顶部导航栏-->
    <div class="header_navbar">
        <header class="clearfix">
            <div class="navbar navbar-default navbar-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <img src="~/Content/img/Layout/favicon.ico" style="width:50%;" />
                        </button>
                        <a class="navbar-brand"><img alt="Charity" src="~/Content/img/Layout/favicon.ico"></a>
                        <div class="Charity_font"><span style="color:brown">Cha</span><span style="color:cornflowerblue">rity</span></div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left" style="margin-left:10%;">
                            <li>@Html.ActionLink("首页", "HomeIndex", "Home")</li>
                            <li>@Html.ActionLink("义卖超市", "HomeIndex", "Home")</li>
                            <li>@Html.ActionLink("义拍卖会", "HomeIndex", "Home")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">爱心系列 <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("爱心活动", "HomeIndex", "Home")</li>

                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("爱心商家", "HomeIndex", "Home")</li>

                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">募捐系列 <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("物品募捐", "HomeIndex", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("资金募捐", "HomeIndex", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("善款公布", "HomeIndex", "Home")</li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("贫困捐助", "HomeIndex", "Home")</li>
                            <li>@Html.ActionLink("最新资讯", "HomeIndex", "Home")</li>
                            <li>@Html.ActionLink("联系我们", "HomeIndex", "Home")</li>
                            <li style="margin-left:2em;">@Html.ActionLink("登陆", "HomeIndex", "Home", new { @class = "login" })</li>
                            <li>@Html.ActionLink("注册", "HomeIndex", "Home", new { @class = "login" })</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>


    <div style="text-align:center;padding-top:3.5em; height:1000px;">
        aaa
        @RenderBody()
        aaa
    </div>

    <div class="footer">
        <div class="footerCon">
           <ol>
               <li> aaaaaa</li>
               <li> aaaaaa</li>
               <li> aaaaaa</li>
               <li> aaaaaa</li>
               <li> aaaaaa</li>
           </ol>
            <ol>
                <li> aaaaaa</li>
                <li> aaaaaa</li>
                <li> aaaaaa</li>
                <li> aaaaaa</li>
                <li> aaaaaa</li>
            </ol>

            
          
               aaaaaaaaaa
           
        </div>
        <div class="Nbottom">
            <p>Copyright@2017-2017 www.Charity.com All Rights Reserved ICP备案号：桂ICP备000000009号-9</p>
            <p>
                本站声明所有资源均是网上搜集或网友上传提供，若有侵犯您的版权，请及时与我们联系（邮箱:AiyeroKing@163.com），我们将尽快处理。
                <img border="0" hspace="0" vspace="0" src="~/Content/img/Layout/站长统计.gif">
            </p>
        </div>
    </div>




    <!---导入JQ.js文件-->
    <script src="~/Content/js/bootstrap/jquery.js"></script>
    <!--导入Bootstarp.js文件-->
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
</body>
</html>
