<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>CharitySale</title> <!--慈善义卖网站-->
    <link rel="Shortcut Icon" href="~/favicon.ico" />
    <!--导入bootstarp.css样式-->
    <link href="~/Content/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <!--导入自定义全局的css样式-->
    <link href="~/Content/css/Foreground/_Layout/Layout.css" rel="stylesheet" />
    <link href="~/Content/css/Foreground/_Layout/main.min.css" rel="stylesheet" />
    <!--导入JQ文件-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!--导入自定义的js文件-->
    @*<script src="~/Content/js/Foreground/LayoutJS.js" defer></script>*@
    <style type="text/css">
        a {
            font-family: YouYuan;
            font-weight: 600;
            text-decoration: none;
        }

            a:hover {
                text-decoration: none;
            }

        .li_massage_borad:hover {
            background: #777;
        }

        .li_massage_borad a {
            top: -14px;
            padding-left: 30px;
            color: hotpink;
            text-decoration: none;
        }

            .li_massage_borad a:hover {
                color: hotpink;
                text-decoration: none;
            }

        .li_massage_borad_three:hover ul {
            display: block;
        }

        .three_all {
            display: none;
        }
        #li_olly{
            display:none;
        }
    </style>
    <script type="text/javascript">
        function homeopen() {

            var Id = document.getElementById("textId_check").value;
            var a = 0;
            if (Id == a) {
               
            }
            else {
                var li_login = document.getElementById('li_login');
                li_login.style.display = "none";

                var li_sign = document.getElementById('li_sign');
                li_sign.style.display = "none";

                var li_olly = document.getElementById('li_olly');
                li_olly.style.display = "block";

                
            }
        }
        /*用window.onload调用myfun()*/
        window.onload = homeopen;//不要括号

    </script>
</head>
<body>

    

    <div style="display:none;">
        <input type="text" id="textId_check" value="@(Session["AdminAccount"] != null ? (Session["AdminAccount"] as Charity.Model.Tuseraccount).ID : 0) " />
    </div>
    <!--顶部导航栏-->
    <div class="header_navbar">
        <header class="clearfix">
            <div class="navbar navbar-default navbar-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <img src="~/Content/img/Layout/favicon.ico" style="width:50%;" />
                        </button>
                        <a class="navbar-brand"><img alt="Charity" src="~/Content/img/Layout/favicon.ico"></a>
                        <div class="Charity_font"><span style="color:brown">Cha</span><span style="color:cornflowerblue">rity</span></div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left" style="margin-left:10%;">
                            <li>@Html.ActionLink("首页", "HomeIndex", "Home")</li>
                            <li>@Html.ActionLink("慈善义卖", "MarketIndex", "Market")</li>
                            @*<li>@Html.ActionLink("义拍卖会", "AuctionIndex", "Auction")</li>*@
                            <li>@Html.ActionLink("物品募捐", "ItemsCollectionIndex", "ItemsCollection")</li>
                            <li>@Html.ActionLink("资金募捐", "CapitalIndex", "Capital")</li>
                            <!--<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">募捐系列 <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("物品募捐", "ItemsCollectionIndex", "ItemsCollection")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("资金募捐", "CapitalIndex", "Capital")</li>
                                    <li class="divider"></li>
                                    @*<li>@Html.ActionLink("善款公布", "FundsReleasedIndex", "FundsReleased")</li>
                                    <li class="divider"></li>*@
                                </ul>
                            </li>-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">爱心系列 <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("爱心活动", "LoveactivityIndex", "Loveactivity")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("爱心团队", "loveBIZIndex", "loveBIZ")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("善款公布", "FundsReleasedIndex", "FundsReleased")</li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("贫困捐助", "SubsidizationIndex", "Subsidization")</li>
                            <li>@Html.ActionLink("最新资讯", "NewNewsIndex", "NewNews")</li>
                            <li>@Html.ActionLink("联系我们", "ContactUsIndex", "ContactUs")</li>
                            <li class="li_massage_borad_one" id="li_login"><a href="../LoginSignUp/LoginIndex">登录</a></li>
                                <li class="li_massage_borad_two" id="li_sign"><a href="../LoginSignUp/SignUpIndex">注册</a></li>
                     
                            <li class="li_massage_borad_three" id="li_olly">
                                <a href="#">
                                    用户:@(Session["AdminAccount"] != null ? (Session["AdminAccount"] as Charity.Model.Tuseraccount).UsNiname : "无用户登录")
                                    <b class="caret"></b>
                                </a>
                                <ul class="three_all">
                                    <li><a href="../LoginSignUp/LoginSignOut">用户注销</a></li>
                                    <li><a href="../LoginSignUp/UserLoginIndex">管理员登录</a></li>
                                    <li><a href="#">用户个人介绍</a></li>
                                </ul>
                            </li>
                            <li class="li_massage_borad"><a href="../ContactUs/ContactBoardIndex">留言板</a></li>

                            @*<li style="margin-left:2em;" class="="signUp_Login">@Html.ActionLink("登陆", "LoginIndex", "LoginSignUp")</li>
                                <li class="="signUp_Login">@Html.ActionLink("注册", "SignUpIndex", "LoginSignUp")</li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!--跳转的网页显示区域-->
    <div class="RenderBody">@RenderBody()</div>

    <!--底部导航栏-->

    <div class="siteFooterBox">
        <div class="mainInnerBox">
            <div class="siteMFooter">
                <div class="siteMFooterABox">
                    <a class="site_hoverCss3A" href="../ContactUs/ContactBoardIndex" target="_self" rel="nofollow">留言板</a><span>|</span>
                    <a class="site_hoverCss3A" href="../ContactUs/ContactUsIndex" target="_self" rel="nofollow">联系我们</a><span>|</span>
                    <a class="site_hoverCss3A" href="#" target="_blank" rel="nofollow">服务协议</a><span>|</span>
                    <a class="site_hoverCss3A" href="#" target="_blank" rel="nofollow">项目发起规范</a><span>|</span>
                    <a class="site_hoverCss3A" href="#" target="_blank" rel="nofollow">帮助中心</a><span>|</span>
                    <a class="site_hoverCss3A" href="../loveBIZ/loveBIZIndex" target="_blank" rel="nofollow">合作专区</a>
                </div>
            </div>
        </div>
        <div class="siteBFooter">
            <div class="siteBF_yqlj siteIlB_box">
                <a class="site_hoverCss3A siteIlB_item" href="http://iof.hexun.com/zhongchou/index.html" target="_blank" rel="nofollow">和讯网</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.leiphone.com/" target="_blank" rel="nofollow">雷锋网</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.hao123.com/" target="_blank" rel="nofollow">hao123</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://hao.360.cn/" target="_blank" rel="nofollow">360安全网址</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://jrj.com.cn" target="_blank" rel="nofollow">金融界</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.caixin.com/" target="_blank" rel="nofollow">财新网</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.tmtpost.com/" target="_blank" rel="nofollow">钛媒体</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.imgii.com?zhongchou" target="_blank" rel="nofollow">IMGII</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.m1905.com/film/" target="_blank" rel="nofollow">电影网</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.artron.net/" target="_blank" rel="nofollow">雅昌艺术网</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.vmovier.com/" target="_blank" rel="nofollow">V电影</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.eguan.cn" target="_blank" rel="nofollow">易观网</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.pedaily.cn/" target="_blank" rel="nofollow">投资界          </a>
                <a class="site_hoverCss3A siteIlB_item" href="http://home.ebrun.com/" target="_blank" rel="nofollow">亿邦动力社区</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.9888.cn" target="_blank" rel="nofollow">金融工场</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.trchina.org/" target="_blank" rel="nofollow">投融中国联盟</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.youcheng.org/" target="_blank" rel="nofollow">友成基金会</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://life.renren.com" target="_blank" rel="nofollow">人人生活</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.meng800.com/ " target="_blank" rel="nofollow">众筹导航</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.qidic.com" target="_blank" rel="nofollow">奇笛网</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.rong360.com" target="_blank" rel="nofollow">融360</a>
                <a class="site_hoverCss3A siteIlB_item" href=" http://www.diyifangdai.com" target="_blank" rel="nofollow">第一房贷</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://finance.ifeng.com/itfinance/index.shtml" target="_blank" rel="nofollow">凤凰互联网金融</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.huoqiu.cn" target="_blank">火球网</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.renchoubao.com/" target="_blank">认筹宝</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.kuaidi100.com/" target="_blank">快递查询</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.csai.cn" target="_blank">希财网</a>
                <a class="site_hoverCss3A siteIlB_item" href="http://www.ifang.com/" target="_blank">一房网</a>
            </div>
        </div>
    </div>
    <div class="Nbottom">
        <p>Copyright@2017-2017 www.Charity.com All Rights Reserved ICP备案号：桂ICP备000000009号-9</p>
        <p>
            本站声明所有资源均是网上搜集或网友上传提供，若有侵犯您的版权，请及时与我们联系（邮箱:AiyeroKing@163.com），我们将尽快处理。
            <img border="0" hspace="0" vspace="0" src="~/Content/img/Layout/站长统计.gif">
        </p>
    </div>

    <div class="home blog logged-in" wd="1524">
        <div class="ico" id="gotop" style="display: block;"></div>
    </div>

    <!---导入JQ.js文件-->
    <script src="~/Content/js/bootstrap/jquery.js"></script>
    <!--导入Bootstarp.js文件-->
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
</body>
</html>
