
@{
    ViewBag.Title = "BendEditerGuestbookIndex";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}

@model Charity.Model.TGuestbook

<head>
    <link href="~/Content/css/Background/Bendadmin/BendaminStyle.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/Background/Bendadmin/adminBend.css" rel="stylesheet" />
    <style>
        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: none;
            }
    </style>
</head>

<div style=" position: absolute;
            width: 200px;
            height: 70px;
            background-color: yellow;
            margin-left: -10%;
            margin-top: 36%;
            z-index: -999;">
</div>

<div class="back_div_color">
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="../BendHome/BendHomeIndex">后台主页</a>
            </li>
            <li class="active">
                <a href="../BendGuestbook/BendGuestbookIndex">留言管理</a>
            </li>
            <li class="active">
                留言编辑
            </li>
        </ul>
    </div>




    <form method="post"  action="/BendGuestbook/EditorBendInfoMSG">

        <h2 class="admin_add_one_h2">留言编辑页面</h2>

        <div class="admin_add_one_div_1">

            <div class="admin_add_one_div_3">

                <div class="input-group">
                    <span class="input-group-addon" style="width:100px;">留言人标题</span>
                    <input type="text" class="form-control" name="BoredTital" required value="@Model.BoredTital">
                </div><br>

                <div class="input-group">
                    <span class="input-group-addon" style="width:100px;">留言人姓名</span>
                    <input type="text" class="form-control" name="BoredName"  required value="@Model.BoredName">
                </div><br>

                <div class="input-group">
                    <span class="input-group-addon" style="width:100px;">留言人主页</span>
                    <input type="text" class="form-control" required  name="BoredIndex" value="@Model.BoredIndex">
                </div><br>

                <div style="display:none">
                    <input type="text" class="form-control" required name="ID" value="@Model.ID">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" style="width:100px;">留言人电子邮箱</span>
                    <input type="text" class="form-control" required  name="BoredEmail" value="@Model.BoredEmail">
                </div><br>

                <div class="input-group">
                    <span class="input-group-addon" style="width:100px;">留言人联系方式</span>
                    <input type="text" class="form-control" required  name="BoredTelphone" value="@Model.BoredTelphone">
                </div><br>
                <div style="display:none">
                    <input type="text" class="form-control" required  name="BoredSetTime" value="@Model.BoredSetTime">
                </div>

            </div>
            <div class="ook_liuyanbang">
                <p class="cd-label" for="cd-textarea">留言内容:</p>
                <textarea  class="message" name="BoredBody" id="cd-textarea" style="color:#ff6a00;height:120px">@Model.BoredBody</textarea>
            </div>
        </div>

        <div class="button_sign_2">
            <button type="submit" class="btn btn-success">提交保存</button><span class="width_buttom">&</span>
            <button type="reset" class="btn btn-danger">重置一下</button>
        </div>



    </form>




</div>


