
@{
    ViewBag.Title = "BendadminIndex";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}

<head>
    <link href="~/Content/css/Background/Bendadmin/BendaminStyle.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <style>
        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: none;
            }
    </style>
</head>

<div class="color_1_accout" style=" position: absolute;
            width: 200px;
            height: 70px;
            background-color: yellow;
            margin-left: -10%;
            margin-top: 42%;
            z-index: -999;">
</div>

<div class="back_div_color">
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="../BendHome/BendHomeIndex">后台主页</a>
            </li>
            <li class="active">
                管理员
            </li>
        </ul>
    </div>

    <div class="back_div_color_two">

        <table class="table table-striped" align="center">
            <thead>
                <tr>
                    <th width="10%" style="text-align:center;">用户账号</th>
                    <th width="10%" style="text-align:center;">用户姓名</th>
                    <th width="10%" style="text-align:center;">联系方式</th>
                    <th width="10%" style="text-align:center;">身份证号码</th>
                    <th width="5%" style="text-align:center;">部门</th>
                    <th width="20%" style="text-align:center;">备注</th>
                    <th width="20%" style="text-align:center;">
                        操作<a href="../Bendadmin/BendAddadminoneIndex">
                            <div class="add_action_one">增加</div>
                        </a>
                    </th>
                    <th width="10%" style="display:none">密码</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in ViewBag.List)
                    {

                        <tr style="text-align:center">
                            <td>@item.AdAccount</td>
                            <td>@item.AdName</td>
                            <td>@item.AdPhone</td>
                            <td>@item.AdIdCard</td>
                            <td>@item.AdSection</td>
                            <td><a href="../Bendadmin/BendadminAritialIndex?Id=@item.ID">详细请点开....</a></td>
                            <td>
                                <a href="../Bendadmin/BendEditIndex?Id=@item.ID">
                                    <div class="add_edit_one">修改</div>
                                </a>
                                <a href="../Bendadmin/BendadminDelected?Id=@item.ID">
                                    <div class="add_delect_one">删除</div>
                                </a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>
