
@{
    ViewBag.Title = "AritialSubsidizationIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Charity.Model.Tpoverty

<head>
    <title>Charity-贫困资助</title>
    <link href="~/Content/css/Background/Bendadmin/BendaminStyle.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/Background/Bendadmin/adminBend.css" rel="stylesheet" />
    <!--导入同类CSS-->
    <link href="~/Content/css/Foreground/Subsidization/SubsidizationStyle.css" rel="stylesheet" />
    <!--导入同类JS-->
    <script src="~/Content/js/Foreground/Subsidization/Subsidization.js"></script>
</head>




<body>
    <!--过渡线条-->
    <div id="progress_Subsidization"></div>
    <div class="nav_Subsidizate">

        <!--装饰线条-->
        <div class="img_nav_Subsidizte"></div>

        <!--小导航栏-->
        <ul class="breadcrumb">
            <li>
                <a href="../Home/HomeIndex">我的首页</a>
            </li>
            <li >
                <a href="../Subsidization/SubsidizationIndex">贫困捐助</a>
            </li>
            <li>
                贫困地区详情
            </li>
        </ul>
    </div>

    <form>
        <h2 class="admin_add_one_h2">贫困地区详情页面</h2>

        <div class="admin_add_one_div_1">

            <div class="admin_add_one_div_3">

                <div class="input-group">
                    <span class="input-group-addon" style="width:100px;">贫困地区</span>
                    <input type="text" class="form-control" required readonly value="@Model.ApplyArea">
                </div><br>

                <div class="input-group">
                    <span class="input-group-addon" style="width:100px;">负责人姓名</span>
                    <input type="text" class="form-control" required readonly value="@Model.ApplyName">
                </div><br>

                <div class="input-group">
                    <span class="input-group-addon" style="width:100px;">负责人联系方式</span>
                    <input type="text" style="width:150px;" class="form-control" required readonly value="@Model.ApplyPhone">
                </div><br>

                <div class="input-group">
                    <span class="input-group-addon" style="width:100px;">贫困申请资金</span>
                    <input type="text" class="form-control" required readonly value="@Model.ApplyValue">
                </div><br>

                <div class="input-group" style="display:none">
                    <span class="input-group-addon" style="width:100px;">贫困申请创建时间</span>
                    <input type="text" class="form-control" required readonly value="@Model.ApplySetTime">
                    <input type="text" class="form-control" required readonly value="@Model.ID">
                </div><br>

            </div>

            <div class="img_prove_show">

            </div>

            <div class="hr_lone_long_1"></div>
            <div class="hr_lone_textarea_1">
                <p class="cd-label" for="cd-textarea">贫困地区介绍:</p>
                <textarea class="message_1" readonly id="cd-textarea" style="color:#ff6a00">@Model.ApplyInfo</textarea>
            </div>
        </div>
    </form>
</body>